{
  "presets": [
    "es2015",
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-function-bind"
  ],
  "env": {
    "test": {
      "sourceMaps": "inline",
      "plugins": ["istanbul"]
    }
  }
}
